# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json

apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name golink
  namespace: default
spec:
  interval: 10m
  releaseName: *name
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: &retries 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: *retries
  dependsOn:
    - name: longhorn
      namespace: "longhorn-system"
  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 65532
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 65532
        runAsNonRoot: true
        runAsUser: 65532
        seccompProfile:
          type: RuntimeDefault
    controllers:
      app:
        enabled: true
        type: deployment
        replicas: 1
        strategy: Recreate
        containers:
          app:
            image:
              repository: "ghcr.io/tailscale/golink"
              tag: "1.0.0"
            envFrom:
              - secretRef:
                  name: "golink-ts-auth"
            resources:
              requests:
                cpu: 10m
                memory: 16Mi
              limits:
                memory: 32Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
    persistence:
      data:
        existingClaim: "golink-data"
        globalMounts:
          - path: "/home/nonroot"
