# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-3.7.3/charts/library/common/values.schema.json
# https://bjw-s-labs.github.io/helm-charts/docs/app-template/

defaultPodOptions:
  securityContext:
    fsGroup: 65534
    fsGroupChangePolicy: OnRootMismatch
    runAsGroup: 65534
    runAsNonRoot: true
    runAsUser: 65534
    seccompProfile:
      type: RuntimeDefault

controllers:
  app:
    enabled: true
    type: statefulset
    containers:
      app:
        image:
          repository: "ghcr.io/home-operations/plex"
          tag: "1.42.2@sha256:9ad8a3506e1d8ebda873a668603c1a2c10e6887969564561be669efd65ae8871"
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          readOnlyRootFilesystem: true
        resources:
          requests:
            cpu: 200m
            memory: 1Gi
          limits:
            memory: 4Gi
        env:
          ADVERTISE_IP: "https://{{ .Release.Name }}.${DOMAIN_PRIVATE}:443"
          PLEX_ADVERTISE_URL: "https://{{ .Release.Name }}.${DOMAIN_PRIVATE}:443"
          TZ: ${TIMEZONE}
        envFrom:
          - secretRef:
              name: plex-claim-token
        probes:
          liveness: &probe
            enabled: true
            custom: true
            spec:
              httpGet:
                path: "/identity"
                port: 32400
          readiness: *probe
          startup:
            enabled: true
            spec:
              failureThreshold: 30

service:
  app:
    controller: app
    ports:
      http:
        port: 32400

ingress:
  app:
    hosts:
      - host: &host "{{ .Release.Name }}.${DOMAIN_PRIVATE}"
        paths:
          - path: "/"
            pathType: Prefix
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - *host

persistence:
  cache:
    accessMode: ReadWriteOnce
    size: 10Gi
    storageClass: nonreplicated
    type: persistentVolumeClaim
    globalMounts:
      - path: "/config/Library/Application Support/Plex Media Server/Cache/"
  config:
    accessMode: ReadWriteOnce
    size: 10Gi
    storageClass: longhorn
    type: persistentVolumeClaim
    globalMounts:
      - path: "/config/Library/Application Support/Plex Media Server/"
  logs:
    type: emptyDir
    globalMounts:
      - path: "/config/Library/Application Support/Plex Media Server/Logs/"
  media:
    type: persistentVolumeClaim
    existingClaim: "plex-files"
    globalMounts:
      - path: "/media"
        readOnly: true
  tmp:
    type: emptyDir
  transcode:
    type: emptyDir
