# https://budimanjojo.github.io/talhelper/latest/
# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/refs/tags/v3.0.44/pkg/config/schemas/talconfig.json

clusterName: &cluster blade
endpoint: https://kube.blade.internal:6443
additionalApiServerCertSans: &sans
  - "kube.blade.internal"
  - "127.0.0.1"
allowSchedulingOnControlPlanes: true

talosVersion: "v1.11.6"
kubernetesVersion: "v1.34.2"

nodes:
  - hostname: one
    certSANs: *sans
    controlPlane: true
    ipAddress: 10.0.2.31
    installDiskSelector:
      wwid: "naa.5001b444a8fcea74"
    nodeLabels:
      topology.kubernetes.io/instance-type: standard
      topology.kubernetes.io/region: arkansas
      topology.kubernetes.io/zone: *cluster
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - "siderolabs/intel-ucode" # Intel microcode
            - "siderolabs/util-linux-tools" # Selection of Linux utils
    patches:
      - |-
        cluster:
          apiServer:
            admissionControl:
              - name: PodSecurity
                configuration:
                  apiVersion: pod-security.admission.config.k8s.io/v1alpha1
                  defaults:
                    audit: privileged
                    audit-version: latest
                    enforce: privileged
                    enforce-version: latest
                    warn: restricted
                    warn-version: latest
                  exemptions:
                    namespaces: []
                    runtimeClasses: []
                    usernames: []
                  kind: PodSecurityConfiguration
          discovery:
            enabled: false
          network:
            cni:
              # NOTE: modify this for temporary clusters
              name: none
          proxy:
            # NOTE: modify this for temporary clusters
            disabled: true
        machine:
          features:
            kubernetesTalosAPIAccess:
              allowedKubernetesNamespaces:
                - "system-upgrade"
              allowedRoles:
                - "os:admin"
              enabled: true
          kubelet:
            extraArgs:
              rotate-server-certificates: true
          systemDiskEncryption:
            ephemeral:
              provider: luks2
              keys:
                - static:
                    passphrase: ${ENCRYPTION_PASSPHRASE}
                  slot: 0
          network:
            kubespan:
              enabled: false
            nameservers:
              - 10.0.2.1
