# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.3.0/charts/library/common/values.schema.json
# https://bjw-s-labs.github.io/helm-charts/docs/app-template/

defaultPodOptions:
  securityContext:
    fsGroup: 65534
    fsGroupChangePolicy: OnRootMismatch
    runAsGroup: 65534
    runAsNonRoot: true
    runAsUser: 65534
    seccompProfile:
      type: RuntimeDefault

controllers:
  app:
    enabled: true
    type: statefulset
    containers:
      app:
        image:
          repository: "ghcr.io/tailscale/golink"
          tag: "1.0.0@sha256:e629f13cf8dcf9224e26317630172b3dcf1e69a44e5902207a38d4fe9e69bb3a"
        envFrom:
          - secretRef:
              name: "golink-ts-auth"
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          readOnlyRootFilesystem: true
        resources:
          requests:
            cpu: 10m
            memory: 16Mi
          limits:
            memory: 32Mi
        env:
          TZ: ${TIMEZONE}

persistence:
  data:
    size: 5Gi
    accessMode: ReadWriteOnce
    globalMounts:
      - path: "/home/nonroot"
