# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-3.7.2/charts/library/common/values.schema.json
# https://bjw-s-labs.github.io/helm-charts/docs/app-template/

defaultPodOptions:
  securityContext:
    fsGroup: 65534
    fsGroupChangePolicy: OnRootMismatch
    runAsGroup: 65534
    runAsNonRoot: true
    runAsUser: 65534
    seccompProfile:
      type: RuntimeDefault

controllers:
  app:
    enabled: true
    type: deployment
    replicas: 2
    containers:
      app:
        image:
          repository: "ghcr.io/0xerr0r/blocky"
          tag: "v0.28.2@sha256:5f84a54e4ee950c4ab21db905b7497476ece2f4e1a376d23ab8c4855cabddcba"
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            add:
              - NET_BIND_SERVICE
            drop:
              - ALL
          readOnlyRootFilesystem: true
        resources:
          requests:
            cpu: 20m
            memory: 128Mi
          limits:
            memory: 256Mi
        env:
          - name: BLOCKY_CONFIG_FILE
            value: "/app/configuration.yaml"
        probes:
          readiness:
            enabled: true
            custom: true
            spec:
              exec:
                command:
                  - "/app/blocky"
                  - "healthcheck"
              initialDelaySeconds: 5

service:
  metrics:
    controller: app
    enabled: true
    type: ClusterIP
    ports:
      metrics:
        enabled: true
        port: 4000
        protocol: TCP
  resolver:
    controller: app
    type: LoadBalancer
    loadBalancerClass: io.cilium/node
    annotations:
      tailscale.com/expose: "true"
      tailscale.com/hostname: "dns-${CLUSTER_NAME}"
      tailscale.com/tags: "tag:dns"
    ports:
      dns-udp:
        port: 53
        protocol: UDP
        targetPort: 53
      dns-tcp:
        port: 53
        protocol: TCP
        targetPort: 53

persistence:
  configuration:
    type: configMap
    name: blocky
    globalMounts:
      - path: "/app/configuration.yaml"
        subPath: "configuration.yaml"
        readOnly: true
  tmp:
    type: emptyDir
