# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/helmrelease-helm-v2.json

apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name prometheus-operator-crds
spec:
  interval: 1h
  releaseName: *name
  chart:
    spec:
      chart: *name
      version: 25.0.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  install:
    remediation:
      retries: &retries 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: *retries
  valuesFrom:
    - kind: ConfigMap
      name: prometheus-operator-crds-chart-values
