# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/helmrelease-helm-v2.json

apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name kube-prometheus-stack
spec:
  interval: 1h
  releaseName: *name
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 80.7.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  install:
    remediation:
      retries: &retries 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: *retries
  dependsOn:
    - name: longhorn
      namespace: longhorn-system
  valuesFrom:
    - kind: ConfigMap
      name: kube-prometheus-stack-chart-values
