# https://github.com/home-operations/tuppr/blob/main/charts/tuppr/values.yaml

monitoring:
  serviceMonitor:
    enabled: true
    interval: 60s

securityContext:
  seccompProfile:
    type: RuntimeDefault
