name: "CI: external-landing"

on:
  pull_request:
    branches: [main]
    paths:
      - ".github/workflows/external-landing**"
      - "external-landing/**"

jobs:
  ci:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    defaults:
      run:
        working-directory: "./external-landing"
    steps:
      - uses: actions/checkout@v6
      - name: Lint
        uses: actions/setup-node@v3
        with:
          node-version: "latest"
      - run: "npm ci"
      - run: "npm run lint"
