name: "CD: external-landing"

on:
  push:
    branches: [main]
    paths:
      - ".github/workflows/external-landing**"
      - "external-landing/**"

jobs:
  cd:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    defaults:
      run:
        working-directory: "./external-landing"
    steps:
      - uses: actions/checkout@v4
      - name: Deploy
        uses: actions/setup-node@v6
        with:
          node-version: "latest"
      - run: "npm ci"
      - run: "npm run build"
      - run: "npm run deploy"
        env:
          CLOUDFLARE_API_TOKEN: ${{secrets.CF_PAGES_KEY}}
